* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  overflow: hidden;
  background-color: rgba(80, 8, 118, 0.497);
}

.text {
  text-align: center;
  font-size: 25px;
  user-select: none;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1;
  border: 2px solid rgba(144, 93, 172, 0.497);
  box-shadow: 0 4px 5px 3px #2e123d7f;
  border-radius: 5px;
  padding: 20px;
}

.text span {
  display: inline-block;
  cursor: pointer;
}

.active {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
  transition: 2s;
  color: #0f04157f;
}
